.jumbotron {
  text-align: center;
}

.progress {
  padding-bottom: 3px;
}

#pet-info {
  float: right;
}

.card-body {
  height: 300px;
  border: solid 3px black;
  text-align: center;
}

.hidden {
  display: none;
}

.tama-image {
  padding-top: 30px;
  height: 200px;
  width: 150px;
  position: fixed;
}

.poop-image {
  height: 20px;
  width: 20px;
  float: inherit;
}