.jumbotron {
  text-align: center;
}

.progress {
  padding-bottom: 3px;
  width: 50%;
}

#pet-info {
  float: right;
}

label {
  font-weight: bold;
}

#results {
  text-align: center;
  display: none;
}

#game-start {

}

.card-body {
  height: 300px;
  border: solid 3px black;
  text-align: center;
}

.hidden {
  display: none;
}

.tama-image {
  padding-top: 30px;
  height: 200px;
  width: 150px;
  margin: auto;
  animation: imgTransform 1000ms ease-in-out infinite;
}

.poop-image {
  height: 20px;
  width: 20px;
  float: inherit;
  animation: poopTransform 1000ms ease-in-out infinite;
}

#game-start {
  display: none;
}

@keyframes imgTransform {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes poopTransform {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}